h1{
    color:red
}
.facebook {
    color:black;
    background-color:blue;
    border-radius:12px;
    text-align: center;
    cursor: pointer;
    border-color:white;
    width:100px;
    height:80px;
}